
<div class="container">
	<div class="row justify-content-center">
		<div>
			<%= image_tag @pin.image.url(:medium) %>
		</div>
	</div>
	<div class="row justify-content-center">
		<div>
			<h1><%= @pin.title %></h1>
			<p><%= @pin.description %></p>

			<p><%= @pin.user.email %></p>
		</div>
	</div>

	<div class="row justify-content-center">
		<%= link_to "Back", root_path %>
		<%= link_to "Edit", edit_pin_path %>
		<%= link_to "Delete", pin_path, method: :delete, data:{ confirm: "Are you sure?"} %>
	</div>
</div>